.create-card {
  width: 250px;
  background: #e1e0e0;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  font-family: 'Poppins', sans-serif;
}

.create-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-top: 1px solid #eee;
  cursor: pointer;
}

.create-item:first-of-type {
  border-top: none;
}

.create-item i {
  font-size: 22px;
  margin-left: 130px;
}

.create-item span {
  font-size: 16px;
  width: 32px;
  color: #333;
}

.create-item:hover {
  background: #f9f9f9;
  border-radius: 8px;
}
