* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.w-15 {
  width: 15%;
}

.w-55 {
  width: 70%;
}



.w-55 {
  overflow-y: auto;
  height: 100vh;
}

body {
  overflow: hidden;
}


@media (max-width: 768px) {
  .w-55 {
    padding-top: 56px;
  }
}

@media (max-width: 768px) {
  .w-55 {
    padding-bottom: 56px;
  }
}